<game-board>
    <example-text/>
    <br>
    <ox-field field-id="a1"/><ox-field field-id="a2"/><ox-field field-id="a3"/><br>
    <ox-field field-id="b1"/><ox-field field-id="b2"/><ox-field field-id="b3"/><br>
    <ox-field field-id="c1"/><ox-field field-id="c2"/><ox-field field-id="c3"/><br>
    <br>
    <example-button/>
</game-board>